.header {
  border-bottom: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header_left .gmail-container {
  display: flex;
  align-items: center;
}
.header_left .gmail-container span {
  display: block;
  font-size: 1.2rem;
  margin-left: 5px;
  font-family: inherit;
}

.header_left .gmail-container img {
  width: 40px;
  object-fit: contain;
}

.header_middle {
  flex: 0.7;
  padding: 10px;
}

.header_middle form {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  align-items: center;
}
.header_middle form input {
  flex: 1;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}
.header_middle form input:focus {
  outline: none;
}
.header_middle form input::placeholder {
  font-family: inherit;
  font-size: 1.1rem;
}
.header_middle form .MuiSvgIcon-root {
  color: gray;
}
.header_right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.header_right svg {
  margin: 5px;
  color: gray;
}
.header_right .user {
  color: black;
  font-size: 3rem;
}
